/* ---------------------------- */
/* Basic Setup */
/* ---------------------------- */

* {
    padding: 0;
    border: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    transition: all .5s;
    font-family: Helvetica Neue, Helvetica, Arial;
}

.clearfix::after {
    content: '';
    clear: both;
    display: block;
}

header {
    padding: 4% 0;
    height: auto;
    background-image: linear-gradient(139deg, #00C4CC 0%, #7D2AE8 100%);
    text-align: center;
    box-shadow: 3px 3px 3px #ccc;
}

header h1 {
    display: inline-block;
    margin: 0;
    font-size: calc(1.4em + 2.5vw);
    text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.4);
    font-weight: bold;
    color: #fff;
}

header i.fa-thermometer-2, 
.fa-snowflake-o,
.fa-sun-o {
    display: inline-block;
    margin-left: 1%;
    width: 20px;
    height: 20px;
    color: #ffffff;
    font-size: calc(1em + 2.2vw);
    text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.4);
}

.fa-sun-o {
    color: yellow;
}

.main {
    text-align: center;
    padding-top: 80px;
}

#search label {
    font-weight: bold;
}

#search input {
    border-bottom: 2px solid #000;
    font-size: inherit;
    font-family: inherit;
    outline: none;
}

#search input:focus {
    outline: none;
}

#search button {
    padding: 5px;
    border: 1px solid;
    border-radius: 4px;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(139deg, #00C4CC 0%, #7D2AE8 100%);
    cursor: pointer;
    outline: none;
    color: white;
}

#search button:hover {  
    background-image: linear-gradient(278deg, #00C4CC 0%, #7D2AE8 100%);
}

#weather, .indicatorCold, .indicatorHot {
    display: none;
    padding: 30px;
    border: 1px solid #ccc;
    margin: 100px auto 50px;
    width: 500px;
    background-image: linear-gradient(139deg, #00C4CC 0%, #7D2AE8 100%);
    box-shadow: 2px 2px 3px #ccc;
    color: white;
    font-weight: bold;
}

.indicatorCold, .indicatorHot {
    margin-top: 0;
}

.indicatorCold > div {
    display: inline-block;
}

.indicatorHot > div {
    display: inline-block;
}

#weather h1 {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 30px;
}

#weatherDescription {
    float: left;
    text-transform: uppercase;
}

#weatherTemperature {
    float: right;
}

#load {
    display: none;
    padding: 30px;
    margin: 100px auto auto;
    width: 500px;
}

/* ---------------------------- */
/* Media Queries */
/* ---------------------------- */

@media only screen and (max-width: 480px) {
    
    header h1 {
        font-size: 2.5em;
    }
    
    header i.fa-thermometer-2 {
        font-size: 2.5em;
    }
    
    header i.fa-thermometer-2, .fa-snowflake-o, .fa-sun-o {
        height: auto;
    }
    
    #search {
        max-width: 90%;
        margin: 0 auto;
    }
    
    #search label {
        display: block;
        font-size: 1.8em;
    }

    #search input {
        display: block;
        margin: 4% auto 8%;
        width: 90%;
        font-size: 1.2em;
        text-transform: uppercase;
    }
    
    #search button {
        padding: 2.2%;
        font-size: 1.4em;
    }
    
    #load {
        width: auto;
    }
    
    #weather, .indicatorCold, .indicatorHot {
        width: 100%;
    }
    
    .indicatorCold, .indicatorHot {
        margin-bottom: 0;
    }
    
    #weatherDescription, #weatherTemperature {
        font-size: 1.1em;
    }
}